[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Code based on Martin Fowler's book, "
[access "refs/*"]
	owner = group user/Mike Chirico (mchirico)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mike Chirico (mchirico)
	label-Verified = -1..+1 group user/Mike Chirico (mchirico)
	push = group user/Mike Chirico (mchirico)
	read = group user/Mike Chirico (mchirico)
	rebase = group user/Mike Chirico (mchirico)
	removeReviewer = group user/Mike Chirico (mchirico)
	submit = group user/Mike Chirico (mchirico)
[access "refs/heads/*"]
	create = group user/Mike Chirico (mchirico)
	push = +force group user/Mike Chirico (mchirico)
	pushMerge = group user/Mike Chirico (mchirico)
	read = group user/Mike Chirico (mchirico)
[access "refs/tags/*"]
	push = group user/Mike Chirico (mchirico)
	push = +force group user/Mike Chirico (mchirico)
